
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Hind+Vadodara:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  /* Paleta de colores */

  --Azul-oscuro: #014A56;
  --Azul-turquesa: #0C8B9F;
  --Azul-base: #43C6DB;
  --Azul-claro: rgba(67, 198, 219, 0.25);
  --Verde-base: #A4B825;
  --Verde-medio: #C6DB43;
  --Verde-claro: #E5EEA9;
  --Contraste-base: #FF5209;
  --Contraste-medio: #FF9D56;
  --Contraste-Claro: #FFC9A2;
  --Negro: #000000;
  --Blanco: #FFFFFF;
  --Gris-claro: #E6E6E6;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--Negro);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: var(--Gris-claro);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--Azul-claro);
  border-radius: 24px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  border-radius: 16px;
}

/* Clases Reusables */

.input {
  border-radius: 24rem;
}

.icono {
  width: 16px;;
}

.titulo-h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 140%;
}

.titulo-h2 {
  font-family: 'Gilda Display', serif;
  font-size: 32px;
  line-height: 140%;
}

.texto-descripcion {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 24px;
  line-height: 140%;
}

.texto-tarjeta {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.boton {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 24rem;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color .25s;
}

.boton-contraste {
  background-color: var(--Contraste-base);
  color: var(--Negro);
  border: none;
}

.boton-contraste:hover {
  background-color: var(--Contraste-Claro);
}

.boton-blanco {
  background-color: var(--Blanco);
  color: var(--Negro);
  border: 1px solid var(--Negro);
}

.boton-blanco:hover {
  background-color: var(--Gris-claro);
}

.container {
  max-width: 100vw;
  margin-inline: auto;
  margin-block: 24px;
  padding: 16px 64px;
}

/* NavBar */

.header {
  position: relative;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Azul-base);
  width: 100vw;
  gap: 16px;
  margin-top: 0;
}

.logo_imagen {
  display: block;
  width: 56px;
}

.nav__menu-icon {
  display: none;
}

.boton__menu-cerrar {
  display: none;
}

.nav__search {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 8px 16px;
  border: 1px solid var(--Negro);
  border-radius: 24rem;
  background-color: var(--Blanco);
}

.nav__search:focus-within {
  border-color: var(--Contraste-base);
}

.nav__search-icon {
  display: inline-flex;
}

.nav__search-input {
  border: none;
  outline: none;
  width: 100%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-size: 16px;
}

.nav__list-link {
  display: inline-block;
  padding: 16px;
  color: var(--Negro);
  font-weight: bold;
  transition: color .3s;
}

.nav__list-link:hover {
  color: var(--Contraste-base);
}

/* Hero */

.hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.hero-izq {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.hero-izq h1,
.hero-izq h2 {
  text-align: center;
}

.hero-izq button {
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
  color: var(--Blanco);
}

.form-contacto {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Azul-turquesa);
}

.form-contacto > * {
  padding: 16px;
  margin: 16px;
}

.terminos-condiciones {
  text-align: center;
}

.form-contacto input,
.form-contacto textarea {
  border: 2px solid var(--Azul-turquesa);
}
.form-contacto button {
  color: var(--Blanco);
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
  margin-bottom: 24px;
}

.vEmergente {
  background-color: var(--Azul-claro);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}

.cont-vEmergente {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: var(--Blanco);
  width: 600px;
  border-radius: 8px;
  padding: 32px;
}

.vEmergente.activo {
  display: initial;
}

.cont-vEmergente .boton-cerrar {
  position: absolute;
  top: 0;
  right: 0;
  scale: 0.7;
  cursor: pointer;
  margin: 8px;
}
/* Especialidades */

.especialidades {
  position: relative;
  padding-block: 64px;
  margin-block: 144px;
}

.especialidades > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: -1;

}

.especialidades h1 {
  text-align: center;
  margin-bottom: 16px;
}

.cont-especialidades {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;

}

.cont-especialidades div {
  width: 250px;
  height: 250px;
  padding:8px;
  background-color: var(--Blanco);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.cont-especialidades div:hover {
  background-color: var(--Contraste-Claro);
}

.cont-especialidades h2 {
  text-align: center;
}

.cont-especialidades img {
  width: 200px;
}

/* Servicios */

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont-tarj-serv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  margin-top: 32px;
  margin-bottom: 64px;
}

.tarjeta-serv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--Azul-oscuro);
  border-radius: 8px;
  height: 250px;
  width: 400px;
  margin-inline: 24px;
}

.desc-servicio {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Gris-claro);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px;
}

.desc-servicio button {
  color: var(--Blanco);
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
}

.desc-servicio h2,
.desc-servicio p,
.desc-servicio button {
  text-align: center;
  margin-block: 16px;
}

.servicios img {
  width: 250px;
  height: fit-content;
  overflow: hidden;
  padding: 16px;

}

/* Empezar es así de fácil */

.empezar {
  position: relative;
  margin-bottom: 120px;
}

.fondo {
  position: absolute;
  background-color: var(--Azul-claro);
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.contenedor-empezar h1 {
  text-align: center;
  padding-block: 32px;
}

.contenedor-pasos {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.cont-tarj-pasos {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  cursor: pointer;
}

.cont-tarj-pasos:hover .cont-img-pasos {
  scale: 1.05;
}

.cont-img-pasos {
  position: absolute;
  top: -80px;
  background-color: var(--Verde-claro);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

.cont-img-pasos img {
  width: 150px;
}

.cont-desc-pasos {
  background-color: var(--Azul-base);
  width: 240px;
  height: 240px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 112px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cont-desc-pasos p {
  text-align: center;
}

/* Footer */

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-top: 64px;
  background-color: var(--Azul-base);
}

.footer {
  margin-bottom: 0;
  padding-block: 24px;
}

footer h3 {
  background-color: var(--Gris-claro);
  padding-inline: 16px;
  border-radius: 8px;
  font-weight: 400;
  text-align: center;
}

.footer-izq img {
  width: 48px;
}

.footer-izq h6 {
  font-weight: normal;
}

.iconos-redes {
  display: flex;
  gap: 24px;
}

.footer-der h3 {
  margin-bottom: 16px;
}

.footer-der img {
  width: 32px;
}

.footer-izq,
.footer-der {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-der div {
  display: flex;
  gap: 16px;
  padding: 8px;
  align-items: center;
}


/*DEPRESION*/

/* Sección 1 */
.containertotal {
  padding-inline: 0;
}
.container1{
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--Gris-claro);
  border-radius: 8px;
}

.contenedor-tarj-dep {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin: 32px;
}

.contenedor-tarj-dep img {
  width: 200px;
  height: 200px;
  background-color: var(--Blanco);
  border-radius: 8px;
  margin: auto;
}

.desc-depresion {
  margin-inline: 16px;
}

.boton-llamar-dep{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.boton-llamar-dep button {
 color: var(--Blanco);
}

/* Sección 2 */

.cont-profesionales {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-block: 128px;
}

.cont-profesionales > img {
  position: absolute;
  top: -64px;
  left: 0;
  width: 100%;
  height: 500px;
  z-index: -1;
}

.cont-profesionales h2 {
  text-align: center;
  margin-inline: 24px;
}

.cont-profesionales button {
  color: var(--Blanco);
}

.cont-personas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.cont-personas p {
  text-align: center;
}

.cont-personas img {
  width: 170px;
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.cont-personas img:hover {
  scale: 1.02;
}
 .personas {
  display: flex;
  flex-direction: column;
  gap: 16px;
 }

/* Seccion 3 */

.container3{
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: #014A56 solid 2px;
  border-radius: 8px;
  margin-inline: 32px;
}

.container3 button {
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
  color: var(--Blanco);
  background-color: var(--Azul-oscuro);
  border: none;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.blog {
  padding: 8px;
  border-radius: 8px;
  height: 150px;
  background-color: var(--Gris-claro);
}

.container3 h2{
  text-align: center;
  padding-top: 16px;
}

.cuadro{
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.cuadro p{
  padding: 16px;
}

.cuadro img {
  height: 120px;
  width: 100px;
  border-radius: 8px;
}



/* Sección 4 */

.container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 48px;
}

.cont-exito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.exito {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--Azul-claro);
  border-radius: 8px;
  height: 300px;
  width: 300px;
}

.exito img {
  position: absolute;
  width: 150px;
  top: -56px;
  background-color: var(--Gris-claro);
  border-radius: 50%;
}

.exito p {
  text-align: center;
  padding: 16px;
}


@media screen and (max-width: 1250px){

  .nav__list {
    column-gap: 8px;
  }

  /* Hero */

  .hero-izq img {
    width: 40vw;
  }

  /* Especialidades */


  .cont-especialidades {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .especialidades > img {
    height: 800px;
  }

  /* Servicios */

  .tarjeta-serv {
    border-radius: 8px;
    height: 250px;
    width: 350px;
    margin-inline: 24px;
  }

  /* Profesionales */

  .cont-profesionales > img {
    height: 550px;
  }

  /* Exito */

  .cont-exito {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 88px;
  }

}

/*ESPECIALIDADES*/

/*LAPTOP*/
@media screen {

.tituloEspecialidad{
  text-align: center;
  padding: 100px;

}

.flexEspecialidades{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}


.flexEspecialidades div:hover {
  background-color: var(--Contraste-Claro);
  animation: miAnimacion 2s ease 0s infinite;
}

.flexEspecialidades div {
  width: 90%;
  height: 300px;
  padding:10px;
  background-color: var(--Azul-claro);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin: 5%;

}

.tarjetaEspecialidad{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
}

.flexEspecialidades img {
  width: 80%;
  align-items: center;
  grid-column: 2/3;
}


}

/*TABLET*/
@media screen and (max-width: 992px){

  /* Nav */

  .nav__list {
    position: relative;
    flex-direction: column;
    position: absolute;
    top: 0;right: 0;
    z-index: 100;
    background-color: var(--Gris-claro);
    padding-block: 112px 32px;
    padding-inline: 32px;
    border-radius: 8px;
    transform: translateX(100%);
    transition: 0.3s linear;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .boton__menu-cerrar{
    display: initial;
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px 24px;
    transform: scale(0.6);
  }

  .nav__list.activo {
    transform: translateX(0);
  }

  .nav__menu-icon {
    display: initial;
    transform: scale(0.8);
  }

  .tituloEspecialidad{
    text-align: center;
    padding: 80px;

  }

  /* Hero */

  .hero {
    grid-template-columns: 1fr;
  }

  /* Servicios Home */

  .cont-tarj-serv {
    grid-template-columns: 1fr;
  }

  /* Empezar es así de fácil */

  .contenedor-pasos {
    display: flex;
    flex-direction: column;
  }

  .fondo {
    height: 1300px;
  }

  /* Profesionales */

  .cont-personas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 128px;
  }

  .cont-profesionales > img {
    height: 860px;
  }

  .flexEspecialidades{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  }

  .flexEspecialidades div:hover {
    background-color: var(--Contraste-Claro);
    animation: miAnimacion 2s ease 0s infinite;
  }

  .flexEspecialidades div {
    width: 90%;
    height: 300px;
    padding:10px;
    background-color: var(--Azul-claro);
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 24px;

  }

  .tarjetaEspecialidad{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    justify-self: center;
  }

  .flexEspecialidades img {
    width: 80%;
    align-items: center;
    grid-column: 2/3;

  }

  /* Footer */
  footer h3 {
    width: min-content;
  }
}

  /*MOBILE*/
@media screen and (max-width: 575px){

  /* Especialidades Home */

  .especialidades {
    margin-block: 164px;
    padding-top: 180px;
  }
  .cont-especialidades {
    grid-template-columns: 1fr;
  }

  .especialidades > img {
    width: 1000px;
    height: 1600px;
  }

  .especialidades > h1 {
    margin-bottom: 32px;
  }

  /* Empezar es así de fácil */

  .fondo {
    height: 1340px;
  }

  /* Profesionales */

  .cont-personas {
    display: flex;
    flex-direction: column;
  }

  .cont-profesionales > img {
    top: -140px;
    height: 1550px;
    width: 1600px;
  }

  /* Blogs */

  .blogs {
    display: flex;
    flex-direction: column;
  }

  /* Exito */

  .cont-exito {
    display: flex;
    flex-direction: column;
  }

  .tituloEspecialidad{
    text-align: center;
    padding: 64px;

  }

  .flexEspecialidades{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }


  .flexEspecialidades div:hover {
    background-color: var(--Contraste-Claro);
    animation: miAnimacion 2s ease 0s infinite;
  }

  .flexEspecialidades div {
    width: 90%;
    height: 400px;
    padding:10px;
    background-color: var(--Azul-claro);
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .tarjetaEspecialidad{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    justify-self: center;
  }

  .tarjetaEspecialidad img {
    width: 80%;
    grid-column: 2/3;
  }

}


@keyframes miAnimacion {

  0%, 100%{
    transform: scale(1,1);
  }
  50%{
    transform: scale(1.1, 1.1);
  }

}



