
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Hind+Vadodara:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  /* Paleta de colores */

  --Azul-oscuro: #014A56;
  --Azul-turquesa: #0C8B9F;
  --Azul-base: #43C6DB;
  --Azul-claro: rgba(67, 198, 219, 0.25);
  --Verde-base: #A4B825;
  --Verde-medio: #C6DB43;
  --Verde-claro: #E5EEA9;
  --Contraste-base: #FF5209;
  --Contraste-medio: #FF9D56;
  --Contraste-Claro: #FFC9A2;
  --Negro: #000000;
  --Blanco: #FFFFFF;
  --Gris-claro: #E6E6E6;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--Negro);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 16px;   
}

body::-webkit-scrollbar-track {
  background: var(--Gris-claro);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--Azul-claro);
  border-radius: 24px; 
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

textarea {
  border-radius: 16px;
}

/* Clases Reusables */

.input {
  border-radius: 24rem;
}

.icono {
  width: 16px;;
}

.titulo-h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  line-height: 140%;
}

.titulo-h2 {
  font-family: 'Gilda Display', serif;
  font-size: 32px;
  line-height: 140%;
} 

.texto-descripcion {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 24px;
  line-height: 140%;
}

.texto-tarjeta {
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.boton {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 24rem;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color .25s;
}

.boton-contraste {
  background-color: var(--Contraste-base);
  color: var(--Negro);
  border: none;
}

.boton-contraste:hover {
  background-color: var(--Contraste-Claro);
}

.boton-blanco {
  background-color: var(--Blanco);
  color: var(--Negro);
  border: 1px solid var(--Negro);
}

.boton-blanco:hover {
  background-color: var(--Gris-claro);
}

.container {
  max-width: 1400px;
  margin-inline: auto;
  margin-block: 24px;
  padding: 16px 64px;
}

/* NavBar */

.header {
  position: relative;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Azul-base);
  width: 100vw;
  gap: 16px;
  margin-top: 0;
}

.logo_imagen {
  display: block;
  width: 56px;
}

.nav__search {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 8px 16px;
  border: 1px solid var(--Negro);
  border-radius: 24rem;
  background-color: var(--Blanco);
}

.nav__search:focus-within {
  border-color: var(--Contraste-base);
}

.nav__search-icon {
  display: inline-flex;
}

.nav__search-input {
  border: none;
  outline: none;
  width: 100%;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-size: 16px;
}

.nav__list-link {
  display: inline-block;
  padding: 16px;
  color: var(--Negro);
  font-weight: bold;
  transition: color .3s;
}

.nav__list-link:hover {
  color: var(--Contraste-base);
}

/* Hero */

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.hero-izq {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.hero-izq h1,
.hero-izq h2 {
  text-align: center;
}

.hero-izq button {
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
}

.boton-llamanos {
  color: var(--Blanco);
}

.form-contacto {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--Azul-turquesa);
}

.form-contacto > * {
  padding: 16px;
  margin: 16px;
}

.terminos-condiciones {
  text-align: center;
}

.form-contacto input,
.form-contacto textarea {
  border: 2px solid var(--Azul-turquesa);
}
.form-contacto button {
  color: var(--Blanco);
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
  margin-bottom: 24px;
}

/* Especialidades */

.especialidades {
  position: relative;
  padding-block: 64px;
  margin-bottom: 144px;
}

.especialidades > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;

}

.especialidades h1 {
  text-align: center;
  margin-bottom: 16px;
}

.cont-especialidades {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;

}

.cont-especialidades div {
  width: 250px;
  height: 250px;
  padding:8px;
  background-color: var(--Blanco);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.cont-especialidades div:hover {
  background-color: var(--Contraste-Claro);
}

.cont-especialidades h2 {
  text-align: center;
}

.cont-especialidades img {
  width: 200px;
}

/* Servicios */

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cont-tarj-serv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
  margin-top: 32px;
  margin-bottom: 64px;
}

.tarjeta-serv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--Azul-oscuro);
  border-radius: 8px;
  height: 250px;
  width: 400px;
  margin-inline: 24px;
}

.desc-servicio {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Gris-claro);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px;
}

.desc-servicio button {
  color: var(--Blanco);
  width: fit-content;
  height: fit-content;
  margin-inline: auto;
}

.desc-servicio h2,
.desc-servicio p,
.desc-servicio button {
  text-align: center;
  margin-block: 16px;
}

.servicios img {
  width: 250px;
  height: fit-content;
  overflow: hidden;
  padding: 16px;

}

/* Empezar es así de fácil */

.empezar {
  position: relative;
  margin-bottom: 80px;
}

.fondo {
  position: absolute;
  background-color: var(--Azul-claro);
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

.contenedor-empezar h1 {
  text-align: center;
  padding-block: 32px;
}

.contenedor-pasos {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.cont-tarj-pasos {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  cursor: pointer;
}

.cont-tarj-pasos:hover .cont-img-pasos {
  scale: 1.05;
}

.cont-img-pasos {
  position: absolute;
  top: -80px;
  background-color: var(--Verde-claro);
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
}

.cont-img-pasos img {
  width: 150px;
}

.cont-desc-pasos {
  background-color: var(--Azul-base);
  width: 240px;
  height: 240px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 112px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.cont-desc-pasos p {
  text-align: center;
}

/* Footer */

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-top: 64px;
  background-color: var(--Azul-base);
}

.footer {
  margin-bottom: 0;
  padding-block: 24px;
}

footer h3 {
  background-color: var(--Gris-claro);
  padding-inline: 16px;
  border-radius: 8px;
  font-weight: 400;
}

.footer-izq img {
  width: 48px;
}

.footer-izq h6 {
  font-weight: normal;
}

.iconos-redes {
  display: flex;
  gap: 24px;
}

.footer-der h3 {
  margin-bottom: 16px;
}

.footer-der img {
  width: 32px;
}

.footer-izq,
.footer-der {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-der div {
  display: flex;
  gap: 16px;
  padding: 8px;
  align-items: center;
}
  
@media screen and (max-width: 1250px){
  
  .nav__list {
    column-gap: 8px;
  }

  /* Hero */

  .hero-izq img {
    width: 40vw;
  }

  /* Especialidades */


  .cont-especialidades {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .especialidades > img {
    height: 800px;
  }

  /* Servicios */

  .tarjeta-serv {
    border-radius: 8px;
    height: 250px;
    width: 350px;
    margin-inline: 24px;
  }
  
}





/*DEPRESION*/


.container1{
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: minmax(auto, auto);
  gap: 16px;
  background-color: var(--Gris-claro);
  margin: 40px;
  border-radius: 50px;
  
}

.item1{
  
  padding: 8px;
  grid-column: 1/2;

}

.item1 img{
  height: 200px;
  width: 200px;
  margin-top: 16px;
  margin-left: 8px;
  background-color: var(--Blanco);
  border-radius: 10%;
}
.item2{
  margin-top: 16px;
  padding: 8px;
  grid-column: 2/3;


}
.item2 h2{
  font-family: 'Gilda Display', serif;
  font-size: 32px;
  line-height: 140%;
}

.item2 p{
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.item3{
  
  padding: 8px;
  grid-column: 1/2;

}

.item3 img{
  height: 200px;
  width: 200px;
  padding-top: 8px;
  padding-left: 8px;
  border-radius: 10%;
}

.item4{
  margin-top: 16px;
  padding: 8px;
  grid-column: 2/3;

}

.item4 h2{
  font-family: 'Gilda Display', serif;
  font-size: 32px;
  line-height: 140%;
}

.item4 p{
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.item5{
  
  padding: 8px;
  grid-column: 1/3;
  align-content: center;
  text-align: center;
}

.item5 button{
  background-color: var(--Contraste-base);
  color: var(--Blanco);
  border: none;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 24rem;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color .25s;
  margin-bottom: 16px;

}
.item5 button:hover{
  background-color: var(--Contraste-Claro);
}





.container2 {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr,1fr;
  grid-template-rows: minmax(auto, auto);
  gap: 16px;
  margin: 40px;

  
  
}



.personas1{
  text-align: center;
  
  grid-column: 1/5;
  
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 24px;
  

}



.personas2{
 grid-column: 1/2;
 
 height: 250px;
 text-align: center;
}

.personas2 img:hover{
  border: var(--Verde-base) solid 3px;
  scale: 1.05;
}
.personas3{
 
  grid-column: 2/3;
  text-align: center;
}

.personas3 img:hover{
  border: var(--Verde-base) solid 3px;
  scale: 1.05;
}

.personas4{
  
  grid-column: 3/4;
  text-align: center;
}

.personas4 img:hover{
  border: var(--Verde-base) solid 3px;
  scale: 1.05;
}
.personas5{
  
  grid-column: 4/5;
  text-align: center;
}

.personas5 img:hover{
  border: var(--Verde-base) solid 3px;
  scale: 1.05;
}
.personas6{
  
  grid-column: 1/5;
  text-align: center;
  padding-top: 8px;
  text-align: center;
}

.personas6 button{
  background-color: var(--Contraste-base);
  color: var(--Blanco);
  border: none;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 24rem;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color .25s;
  margin-bottom: 16px;
 
}

.personas6 button:hover{
  background-color: var(--Contraste-Claro);
}

.container2 img{
  width: 170px;
  border-radius: 100%;
  margin-top: 32px;
}

.container3{
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr,1fr, 1fr;
  grid-template-rows: minmax(auto, auto);
  gap: 16px;
  margin: 70px;
  border: #014A56 solid 2px;
  border-radius: 15px;
  

}

.blogs1{
  text-align: center;
  grid-column: 1/4;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 24px;
  

}


.blogs2{
  
  grid-column: 1/2;
  height: 100px;
  background-color: var(--Gris-claro);
  align-items: center;
  border-radius: 15px;
  margin-left: 24px;
}

.cuadro1{
  
  
  display: flex;
  align-items: center;
  
}
.cuadro1 p{
  margin-left: 16px;
}

.cuadro1 img{
  border-radius: 10px;
  padding-left: 24px;
}


.blogs3{
  
  grid-column: 2/3;
  height: 100px;
  background-color: var(--Gris-claro);
  align-items: center;
  border-radius: 15px;
}


.cuadro2{
  
 
  display: flex;
  align-items: center;
  
}

.cuadro2 img{
  border-radius: 10px;
  height: 95px;
  padding-left: 24px;
}
.cuadro2 p{
  margin-left: 16px;
}



.blogs4{
  
  grid-column: 3/4;
  height: 100px;
  background-color: var(--Gris-claro);
  align-items: center;
  border-radius: 15px;
  margin-right: 24px;
}

.cuadro3{
  
 
  display: flex;
  align-items: center;
  
}

.cuadro3 p{
  margin-left: 16px;
}

.cuadro3 img{
  
  padding-left: 24px;
}

.blogs5{
  
  grid-column: 1/4;
  text-align: center;
}

.blogs5 button{
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 24rem;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: background-color .25s;
  background-color: var(--Azul-oscuro);
  color: var(--Blanco);
  position: relative;
  top: 17px;
  
  z-index: 200;
  
}

.blogs5 button:hover{
  background-color: var(--Azul-turquesa);
}



.container4{
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr,1fr, 1fr,1fr;
  grid-template-rows: minmax(auto, auto);
  gap: 16px;
  margin: 70px;
  

}

.exito1{
  text-align: center;
  grid-column: 1/5;
  
  margin-bottom: 7%;

}

.exito1 h2{
  font-family: 'Gilda Display', serif;
  font-size: 32px;
  line-height: 140%;
  
}



.exito2{
  
  background-color: #43C6DB;
  
  text-align: center;
}

.exito2 img{
  position: relative;
  bottom: 50px;
  background-color: var(--Gris-claro);
  border-radius: 200px;
  
}

.exito2 h3{
  padding-bottom: 16px;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 24px;
  line-height: 140%;
}
.exito2 p{
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  line-height: 140%;
}


.exito3{
  
  background-color: #43C6DB;
  
  text-align: center;
}

.exito3 img{
  position: relative;
  bottom: 50px;
  background-color: var(--Gris-claro);
  border-radius: 200px;
  
}

.exito3 h3{
  padding-bottom: 16px;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 24px;
  line-height: 140%;
}
.exito3 p{
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.exito4{
  
  background-color: #43C6DB;
  
  text-align: center;
}

.exito4 img{
  position: relative;
  bottom: 50px;
  background-color: var(--Gris-claro);
  border-radius: 200px;
  
}

.exito4 h3{
  padding-bottom: 16px;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 24px;
  line-height: 140%;
}
.exito4 p{
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.exito5{
  
  background-color: #43C6DB;
  
  text-align: center;
}

.exito5 img{
  position: relative;
  bottom: 50px;
  background-color: var(--Gris-claro);
  border-radius: 200px;
  
}

.exito5 h3{
  padding-bottom: 16px;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 24px;
  line-height: 140%;
}
.exito5 p{
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 16px;
  line-height: 140%;
}